* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  position: relative;
  background-color: #fbfbf0; }

.right {
  width: 998px;
  text-align: right;
  margin-right: 1rem;
  float: right;
  margin-top: 1.2rem; }

span {
  font-style: oblique; }

h1 {
  font-size: 250px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  text-transform: uppercase;
  color: #26190c; }

h2 {
  font-size: 113px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  line-height: 101.4px;
  letter-spacing: -0.5%;
  text-transform: uppercase;
  color: #26190c;
  width: 1104px; }

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  line-height: 24px;
  letter-spacing: -0.5%;
  text-transform: uppercase;
  color: #26190c; }

h4 {
  font-size: 15px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  text-transform: uppercase;
  color: #26190c;
  line-height: 15px; }

p {
  font-size: 24px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  line-height: 24px;
  letter-spacing: -0.5%;
  text-transform: uppercase;
  color: #26190c; }

li {
  font-size: 24px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  line-height: 24px;
  letter-spacing: -0.5%;
  text-transform: uppercase;
  color: #26190c; }

a {
  color: #26190c;
  text-decoration: none;
  display: block;
  transition: color 0.2s ease; }
  a:hover {
    color: #7d7fab; }

.nav-link {
  color: #26190c;
  transition: color 0.2s ease; }
  .nav-link:hover {
    cursor: pointer;
    color: #7d7fab; }

.loader-wrapper {
  background-color: #26190c;
  height: 100vh;
  position: relative;
  top: -5rem; }
  .loader-wrapper .biglogo {
    position: relative;
    top: 8rem;
    height: 95vh;
    background-color: #26190c;
    overflow: hidden; }
    .loader-wrapper .biglogo h1 {
      font-family: "Ortica-Light";
      color: #fbfbf0; }
      .loader-wrapper .biglogo h1.left {
        margin-left: 3rem;
        margin-bottom: -1rem; }
      .loader-wrapper .biglogo h1.right {
        margin-right: 7rem;
        margin-top: -1rem; }
    .loader-wrapper .biglogo hr {
      border: 1px solid #fbfbf0; }

.color-changer {
  position: fixed;
  margin-right: 1.2rem;
  margin-bottom: 0.5rem;
  bottom: 10rem;
  right: 0;
  z-index: 1; }

.contact {
  position: relative;
  top: 12rem;
  height: 100vh;
  margin-top: 32rem;
  margin-bottom: 8rem;
  transition: color 0.2s ease; }
  .contact h1 {
    border-bottom: 5px solid #26190c;
    width: 789px;
    height: 17rem;
    margin-left: 4rem; }
    .contact h1:hover {
      color: #7d7fab;
      border-bottom: 5px solid #7d7fab; }
    .contact h1 .lineParent {
      overflow: hidden; }
      .contact h1 .lineParent .lineChildren {
        transform: translate(0, 500px); }
    .contact h1.right {
      width: 848px;
      margin-right: 4rem; }

.menu span {
  font-style: normal;
  top: 2.5rem;
  position: relative;
  margin-left: 1rem;
  font-size: 24px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  line-height: 24px;
  letter-spacing: -0.5%;
  text-transform: uppercase;
  color: #26190c;
  line-height: 2.5rem; }

.menu a:active {
  color: #7d7fab; }

.menu a:visited {
  color: #7d7fab; }

.menu h2 {
  line-height: 101.4px;
  top: auto;
  margin-left: 4rem;
  transition: color 0.2s ease;
  width: 355px; }
  .menu h2:hover {
    color: #7d7fab; }
  .menu h2 a:active {
    color: #7d7fab; }

.menu ul {
  margin-left: 1rem;
  list-style: none;
  margin-top: 6rem; }
  .menu ul li {
    margin-bottom: -1rem; }
    .menu ul li span {
      line-height: 2.5rem;
      font-style: normal;
      top: 2.5rem;
      position: relative; }

nav {
  z-index: 1;
  position: relative; }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem; }
    nav ul img {
      width: 130px; }

.home {
  height: 716vh; }
  .home .hero {
    margin-top: 5rem;
    height: 100vh; }
    .home .hero h2 {
      margin-left: 1rem; }
    .home .hero .lineParent {
      overflow: hidden; }
      .home .hero .lineParent .lineChildren {
        transform: translate(0, 500px); }
    .home .hero .contact-menu {
      margin-left: 1rem;
      position: relative;
      top: 12%; }
      .home .hero .contact-menu ul {
        list-style: none;
        margin-bottom: 3rem; }
    .home .hero hr {
      width: 100%;
      border: 2px solid;
      position: relative;
      bottom: -2rem; }
    .home .hero .logo-elipse {
      position: relative;
      left: 79%;
      bottom: 35%; }
      .home .hero .logo-elipse .letters {
        position: absolute;
        left: 0.7rem;
        margin-top: 0.7rem; }
  .home #section-1 h2 {
    margin-left: 1rem; }
  .home #section-1 .lineParent {
    overflow: hidden; }
    .home #section-1 .lineParent .lineChildren {
      transform: translate(0, 500px); }
  .home #section-1 p {
    margin-left: 1rem;
    margin-top: 24rem;
    width: auto;
    opacity: 0; }
    .home #section-1 p > div {
      opacity: 0;
      transform: translateY(0px); }
    .home #section-1 p.is-reveal {
      opacity: 1; }
    .home #section-1 p#right {
      margin-top: 9rem;
      width: 998px;
      text-align: right;
      margin-right: 1rem;
      float: right; }
  .home .section-2 {
    position: relative;
    top: 24rem; }
    .home .section-2 .pin-spacer {
      place-self: auto;
      grid-area: auto / auto / auto / auto;
      z-index: auto;
      float: none;
      flex-shrink: 1;
      display: flex;
      margin: 0px;
      inset: auto;
      position: relative;
      overflow: hidden !important;
      box-sizing: border-box;
      width: 2238px;
      height: 50rem !important;
      padding: 0px 0px 10rem !important; }
    .home .section-2 .header {
      width: 200%;
      display: flex;
      flex-wrap: nowrap; }
      .home .section-2 .header h1 {
        padding-right: 6rem; }
    .home .section-2 .services-menu {
      margin-top: 10rem; }
      .home .section-2 .services-menu span {
        font-style: normal;
        top: 2.5rem;
        position: relative;
        margin-left: 1rem;
        font-size: 24px;
        font-family: "Helvetica Neue";
        font-weight: 200;
        line-height: 24px;
        letter-spacing: -0.5%;
        text-transform: uppercase;
        color: #26190c;
        line-height: 2.5rem; }
      .home .section-2 .services-menu h2 {
        list-style: none;
        margin-left: 4rem;
        transition: color 0.2s ease; }
        .home .section-2 .services-menu h2:hover {
          color: #7d7fab; }
      .home .section-2 .services-menu img {
        bottom: 10.32rem;
        position: relative;
        left: 52rem; }
        .home .section-2 .services-menu img.hover {
          position: relative;
          left: 40rem;
          object-fit: contain;
          opacity: 0;
          transition: opacity 0.2s; }
          .home .section-2 .services-menu img.hover:hover {
            opacity: 1; }
  .home .ft-images {
    display: flex;
    position: relative;
    top: 30rem;
    cursor: pointer; }
    .home .ft-images img {
      clip-path: inset(100% 0% 0% 0%);
      transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1); }
      .home .ft-images img.is-reveal {
        clip-path: inset(0% 0% 0% 0%); }
    .home .ft-images .ft-img-1 {
      margin-left: 11rem; }
      .home .ft-images .ft-img-1:hover h4 {
        visibility: visible;
        cursor: pointer; }
    .home .ft-images .ft-img-2 {
      margin-left: 22rem;
      margin-top: 15rem; }
      .home .ft-images .ft-img-2:hover h4 {
        visibility: visible;
        cursor: pointer; }
    .home .ft-images h4 {
      text-align: right;
      visibility: hidden;
      transition: visibility 0.2s; }

.works .section-1 {
  height: 100vh;
  margin-top: 5rem;
  margin: auto;
  width: 50%; }
  .works .section-1 ul {
    margin-left: 1rem;
    list-style: none;
    margin: auto;
    width: 50%;
    padding-top: 35%; }
    .works .section-1 ul li {
      line-height: 2.5rem; }
      .works .section-1 ul li span {
        font-style: normal;
        top: 2.5rem;
        position: relative; }
      .works .section-1 ul li h2 {
        margin-left: 3rem;
        transition: color 0.2s ease; }
        .works .section-1 ul li h2:hover {
          color: #7d7fab;
          font-style: oblique; }
  .works .section-1 .scroll {
    position: absolute;
    top: 70%;
    padding-left: 20%; }
    .works .section-1 .scroll .elipse {
      position: absolute;
      right: 3.68rem;
      top: 3.58rem; }

.project {
  margin-bottom: 10rem; }
  .project .container {
    width: 50%;
    position: absolute;
    left: 45rem;
    padding-top: 17.5rem; }
    .project .container p {
      margin-top: 2rem;
      margin-bottom: 2.875rem; }
    .project .container ul {
      list-style: none; }
      .project .container ul li {
        display: flex;
        margin-bottom: 0.2rem; }
        .project .container ul li span {
          padding-left: 0.5rem; }
  .project .title {
    margin-left: 1rem;
    list-style: none;
    padding-top: 16rem;
    position: absolute;
    left: 0;
    margin-left: 16rem; }
    .project .title span {
      font-style: normal;
      top: 2.75rem;
      position: relative;
      font-size: 24px;
      font-family: "Helvetica Neue";
      font-weight: 200;
      line-height: 24px;
      letter-spacing: -0.5%;
      text-transform: uppercase;
      color: #26190c; }
    .project .title h2 {
      margin-left: 3rem;
      transition: color 0.2s ease;
      font-style: oblique; }
      .project .title h2:hover {
        color: #7d7fab;
        font-style: oblique; }
  .project .section-2 {
    width: 96%;
    margin: auto;
    margin-bottom: 80rem; }
    .project .section-2 .showcase {
      position: relative;
      top: 50rem; }
      .project .section-2 .showcase .video-react {
        margin-bottom: 2rem;
        background-color: transparent;
        height: auto;
        width: 1100px; }
        .project .section-2 .showcase .video-react .video-react-control-bar {
          left: 8.6rem; }
        .project .section-2 .showcase .video-react video {
          width: 1100px;
          left: 12.5%; }
      .project .section-2 .showcase img {
        padding-bottom: 2rem; }
    .project .section-2 ul {
      position: absolute;
      top: 430rem;
      display: flex;
      list-style: none; }
      .project .section-2 ul li:nth-child(n + 1) {
        position: absolute;
        left: -1rem; }
      .project .section-2 ul li:nth-child(n + 2) {
        position: absolute;
        left: 71rem; }
      .project .section-2 ul h2 {
        width: min-content; }

.services .section-1 {
  height: 100vh;
  width: 73%;
  margin: auto; }
  .services .section-1 h2 {
    position: absolute;
    top: 9.125rem;
    width: fit-content; }
    .services .section-1 h2 .lineParent {
      overflow: hidden; }
      .services .section-1 h2 .lineParent .lineChildren {
        transform: translate(0, 500px); }
    .services .section-1 h2 span {
      margin-left: 30rem;
      font-style: normal; }
  .services .section-1 p {
    top: 39.3125rem;
    position: absolute; }
  .services .section-1 hr {
    width: 100%;
    border: 2px solid;
    position: absolute;
    bottom: -6rem;
    left: 0; }

.services hr {
  width: 100%;
  border: 2px solid;
  position: absolute;
  bottom: -66rem;
  left: 0; }

.services-info {
  position: relative;
  margin-bottom: -32rem; }
  .services-info span {
    font-style: normal;
    top: 2.5rem;
    position: relative;
    margin-left: 1rem;
    font-size: 24px;
    font-family: "Helvetica Neue";
    font-weight: 200;
    line-height: 24px;
    letter-spacing: -0.5%;
    text-transform: uppercase;
    color: #26190c;
    line-height: 2.5rem; }
  .services-info a:active {
    color: #7d7fab; }
  .services-info a:visited {
    color: #7d7fab; }
  .services-info h2 {
    line-height: 101.4px;
    top: auto;
    margin-left: 4rem;
    transition: color 0.2s ease;
    width: 355px; }
    .services-info h2:hover {
      color: #7d7fab; }
    .services-info h2 a:active {
      color: #7d7fab; }
  .services-info ul {
    margin-left: 1rem;
    list-style: none;
    margin-top: 2rem; }
    .services-info ul li span {
      line-height: 2.5rem;
      font-style: normal;
      top: 2.5rem;
      position: relative; }
  .services-info hr {
    width: 957px;
    border: 2px solid;
    position: absolute;
    bottom: 27.6rem;
    right: 34.5rem;
    transform: rotate(90deg);
    margin-left: -5rem; }

.info {
  position: absolute;
  left: 32rem;
  top: 100%;
  margin-top: 5.6rem; }
  .info .title {
    margin-left: -4.4rem;
    margin-bottom: 2rem; }
    .info .title:active {
      color: #7d7fab; }
  .info h3 {
    display: flex; }
    .info h3.incl {
      text-decoration: underline; }
  .info p {
    width: 580px;
    margin-left: 0.2rem; }
    .info p.margin {
      margin-top: -0.5rem; }
    .info p.desc {
      margin-top: 1rem;
      margin-bottom: 4rem;
      margin-left: 0; }
    .info p span {
      top: auto;
      margin-left: 0;
      font-style: oblique; }
  .info .deliverable {
    display: flex; }
  .info ul {
    margin-left: 0; }
    .info ul img {
      height: fit-content;
      margin-top: 0.18rem; }
    .info ul li {
      width: 330px;
      margin-bottom: 1.2rem;
      margin-left: 0.8rem;
      font-weight: 100; }

.about {
  height: 400vh; }
  .about .biglogo {
    position: relative;
    top: 8rem;
    height: inherit; }
    .about .biglogo h1 {
      font-family: "Ortica-Light"; }
      .about .biglogo h1 .lineParent {
        overflow: hidden; }
        .about .biglogo h1 .lineParent .lineChildren {
          transform: translate(0, 500px); }
      .about .biglogo h1.left {
        margin-left: 3rem;
        margin-bottom: -1rem; }
      .about .biglogo h1.right {
        margin-right: 7rem;
        margin-top: -1rem;
        width: 1058px; }
    .about .biglogo hr {
      border: 1px solid #26190c; }
  .about .about-me {
    position: absolute;
    top: 135%;
    margin-top: 5.6rem; }
    .about .about-me p {
      margin-bottom: 1.5rem;
      margin-left: 8rem;
      width: 529px; }
    .about .about-me img {
      position: absolute;
      top: -6rem;
      left: 51rem; }
  .about .myFav {
    position: absolute;
    top: 244%;
    margin-top: 5.6rem; }
    .about .myFav h2 {
      width: 417px;
      margin-bottom: 18rem;
      margin-left: 8rem; }
    .about .myFav div.one {
      width: 450px;
      position: absolute;
      left: 58rem;
      top: 18rem;
      list-style: none; }
      .about .myFav div.one p {
        text-decoration: underline;
        display: inline-flex;
        font-weight: 300; }
    .about .myFav div.two {
      width: 455px;
      position: absolute;
      left: 58rem;
      top: 48rem;
      list-style: none; }
      .about .myFav div.two p {
        text-decoration: underline;
        display: inline-flex;
        font-weight: 300; }
    .about .myFav div.three {
      width: 450px;
      position: absolute;
      left: 58rem;
      top: 84rem;
      list-style: none; }
      .about .myFav div.three p {
        text-decoration: underline;
        display: inline-flex;
        font-weight: 300; }

.contact-page h2 {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 6rem; }

.contact-page img.contact-img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  object-position: 70% 65%;
  position: relative;
  top: -5rem; }

.contact-page div.logo-elipse.submark {
  width: 90px !important;
  height: auto;
  margin-left: 0rem;
  margin-top: 4rem;
  margin-bottom: -2rem; }

.contact-page .hb-p-5fb85402902329000db6b393-1 {
  margin-bottom: 8rem; }

footer {
  background-color: #fbfbf0;
  width: 99%;
  margin: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 166px; }
  footer div {
    display: flex;
    margin-bottom: 5rem; }
    footer div.footer-container {
      position: absolute;
      right: 21rem;
      margin-top: 2rem; }
    footer div.copyright h4:nth-child(n + 2) {
      position: absolute;
      right: 0;
      margin-right: 0.5rem; }
  footer ul {
    display: block;
    list-style: none; }
    footer ul:nth-child(n + 1) {
      position: absolute;
      left: 6rem; }
      footer ul:nth-child(n + 1) .header {
        position: absolute;
        right: 10rem; }
    footer ul:nth-child(n + 2) {
      position: absolute;
      left: -24rem; }
      footer ul:nth-child(n + 2) .header {
        position: absolute;
        right: 16rem; }
    footer ul li {
      padding-bottom: 0.3rem; }
  footer img {
    width: 90px;
    margin-left: 2rem;
    margin-top: -2rem;
    margin-bottom: -2rem; }
    footer img.letters {
      position: absolute; }

@media only screen and (min-device-width: 320px) and (max-device-width: 414px) {
  .color-changer {
    bottom: 0; }
  nav ul img {
    display: none; }
  .menu {
    position: absolute;
    bottom: 0; }
    .menu ul {
      margin-left: 0; }
      .menu ul li h2 {
        line-height: 60px;
        margin-left: 3.3rem;
        width: min-content;
        font-size: 62px; }
      .menu ul li span {
        font-size: 20px;
        top: 2rem;
        margin-left: 0.9rem; }
  .home .hero {
    margin-top: 2rem; }
    .home .hero .logo-elipse {
      left: 73%;
      bottom: 67%;
      z-index: 1; }
      .home .hero .logo-elipse .elipse {
        width: 90px; }
      .home .hero .logo-elipse .letters {
        left: 0.2rem;
        margin-top: 0.3rem;
        width: 80px; }
    .home .hero h2 {
      position: relative;
      z-index: 2; }
      .home .hero h2#hero-text {
        font-size: 59px;
        line-height: 53px;
        width: fit-content; }
        .home .hero h2#hero-text.right {
          margin-top: 2rem; }
    .home .hero hr {
      bottom: 3rem; }
    .home .hero .contact-menu {
      top: -2rem;
      width: fit-content; }
  .home #section-1 {
    position: relative;
    top: 10rem; }
    .home #section-1 h2 {
      font-size: 59px;
      line-height: 53px;
      width: fit-content; }
    .home #section-1 p {
      width: 273px; }
      .home #section-1 p#right {
        width: 273px;
        margin-bottom: 4rem; }
  .home .ft-images .ft-img-1 {
    margin-left: 1.6rem; }
  .home .ft-images .ft-img-2 {
    margin-left: -19.6rem;
    margin-top: 36rem; }
    .home .ft-images .ft-img-2 img {
      width: 20rem; }
  .home .contact h1 {
    height: auto;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 6rem;
    width: fit-content; }
    .home .contact h1.right {
      margin-right: 2rem; }
  .home footer ul:nth-child(n + 1) {
    position: relative;
    left: 30rem; }
    .home footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .home footer ul:nth-child(n + 2) {
    position: relative;
    left: 11rem; }
    .home footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .home footer .copyright {
    position: relative; }
  .home footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  .home footer .logo-elipse {
    height: 27px;
    right: -6rem;
    position: relative;
    top: 9rem; }
  footer ul:nth-child(n + 1) {
    position: relative;
    left: 30rem; }
    footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  footer ul:nth-child(n + 2) {
    position: relative;
    left: 11rem; }
    footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  footer .copyright {
    position: relative; }
  footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  footer .logo-elipse {
    height: 27px;
    right: -6rem;
    position: relative;
    top: 9rem; }
  .works .section-1 {
    width: 91%; }
    .works .section-1 ul {
      width: 100%; }
      .works .section-1 ul li h2 {
        width: min-content; }
    .works .section-1 .scroll {
      left: 12%; }
  .works .project h2 {
    width: min-content; }
  .works .project .title {
    margin-left: 1rem; }
  .works .project .container {
    width: min-content;
    position: relative;
    padding-top: 17.5rem;
    top: 10rem;
    left: 0.7rem; }
  .works .project .section-2 {
    margin-bottom: 30rem; }
    .works .project .section-2 .showcase {
      position: relative;
      top: 20rem;
      width: 96%;
      margin: auto; }
      .works .project .section-2 .showcase .video-react video {
        width: auto;
        left: 0; }
      .works .project .section-2 .showcase img {
        width: 345px; }
  .works footer ul:nth-child(n + 1) {
    position: relative;
    left: 30rem; }
    .works footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .works footer ul:nth-child(n + 2) {
    position: relative;
    left: 11rem; }
    .works footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .works footer .copyright {
    position: relative; }
  .works footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  .works footer .logo-elipse {
    height: 27px;
    right: -6rem;
    position: relative;
    top: 14rem; }
  .services .section-1 {
    width: 96%;
    height: 150vh; }
    .services .section-1 h2#service-title {
      font-size: 59px;
      line-height: 53px;
      width: 348px;
      margin-top: -4rem; }
      .services .section-1 h2#service-title span {
        left: -23rem;
        position: relative; }
    .services .section-1 hr {
      bottom: -17rem; }
    .services .section-1 p#service-p {
      top: 28.3125rem;
      position: absolute; }
      .services .section-1 p#service-p div:nth-child(6) {
        margin-top: 1rem; }
  .services .services-info {
    position: relative;
    top: -7rem; }
    .services .services-info ul {
      margin-left: 0; }
      .services .services-info ul h2 {
        font-size: 59px;
        line-height: 53px;
        width: 239px; }
    .services .services-info hr {
      display: none; }
  .info {
    position: absolute;
    left: 0;
    top: 86rem;
    margin-top: 5.6rem; }
    .info .services-info {
      background-color: #26190c;
      padding-left: 4rem;
      width: 23rem; }
      .info .services-info span {
        color: #fbfbf0;
        display: none; }
      .info .services-info .title h2 {
        font-size: 50px;
        line-height: 53px;
        width: 239px;
        color: #fbfbf0;
        margin-left: 1.2rem;
        padding-top: 1rem; }
      .info .services-info h3 {
        color: #fbfbf0;
        left: -3rem;
        position: relative; }
      .info .services-info .deliverable {
        position: relative;
        left: -3rem; }
        .info .services-info .deliverable li {
          color: #fbfbf0;
          width: 16rem; }
      .info .services-info p {
        color: #fbfbf0;
        width: 8rem; }
        .info .services-info p.desc {
          left: -3rem;
          position: relative;
          width: 22rem; }
        .info .services-info p.margin {
          width: 12rem;
          margin-top: 0; }
  .about .biglogo h1 {
    font-size: 5rem;
    line-height: 7rem; }
    .about .biglogo h1.left {
      margin-left: 0;
      margin-left: 0.3rem; }
    .about .biglogo h1.right {
      margin-right: 0; }
  .about .about-me {
    top: 55%; }
    .about .about-me img {
      position: absolute;
      top: 28rem;
      left: 1rem;
      width: 21rem; }
    .about .about-me p {
      width: 300px;
      margin-left: 1rem; }
  .about .myFav {
    top: 212%; }
    .about .myFav h2 {
      font-size: 50px;
      line-height: 53px;
      width: 12rem;
      margin-left: 1rem;
      margin-bottom: 26rem; }
    .about .myFav div.one {
      width: 15rem;
      position: absolute;
      left: 7rem;
      top: 11rem;
      list-style: none;
      text-align: right; }
    .about .myFav div.two {
      width: 15rem;
      position: absolute;
      left: 7rem;
      top: 44rem;
      list-style: none;
      text-align: right; }
    .about .myFav div.three {
      width: 15rem;
      position: absolute;
      left: 7rem;
      top: 80rem;
      list-style: none;
      text-align: right; }
  .about .contact {
    margin-bottom: -8rem;
    margin-top: 16rem; }
    .about .contact h1 {
      height: auto;
      margin-left: 4rem;
      line-height: 6rem;
      font-size: 6rem;
      width: fit-content; }
      .about .contact h1.right {
        margin-right: 2rem;
        margin-left: -1rem; }
  .about footer ul:nth-child(n + 1) {
    position: relative;
    left: 30rem; }
    .about footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .about footer ul:nth-child(n + 2) {
    position: relative;
    left: 11rem; }
    .about footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .about footer .copyright {
    position: relative; }
  .about footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  .about footer .logo-elipse {
    height: 27px;
    right: -6rem;
    position: relative;
    top: 14rem; }
  .contact h1 {
    height: auto;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 7rem;
    width: fit-content; }
    .contact h1.right {
      margin-top: 1.5rem;
      margin-right: 2rem;
      width: auto; }
  .contact-page h2 {
    font-size: 50px;
    line-height: 53px;
    width: 93%;
    margin-top: -1rem; }
  .contact-page footer ul:nth-child(n + 1) {
    position: relative;
    left: 33rem; }
    .contact-page footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .contact-page footer ul:nth-child(n + 2) {
    position: relative;
    left: 13rem; }
    .contact-page footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .contact-page footer .copyright {
    position: relative; }
  .contact-page footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  .contact-page footer div.logo-elipse.submark {
    height: 27px;
    right: -6rem;
    position: relative;
    top: 10rem; } }

@media only screen and (min-width: 360px) and (max-width: 360px) {
  nav ul {
    width: 21rem; }
  .menu {
    position: absolute;
    bottom: 3.5rem; }
  .services .section-1 {
    width: 96%;
    height: 150vh; }
    .services .section-1 h2#service-title {
      font-size: 59px;
      line-height: 53px;
      width: 348px;
      margin-top: -4rem; }
      .services .section-1 h2#service-title span {
        left: -23rem;
        position: relative; }
    .services .section-1 hr {
      bottom: -17rem; }
    .services .section-1 p#service-p {
      top: 28.3125rem;
      position: absolute; }
      .services .section-1 p#service-p div:nth-child(6) {
        margin-top: 1rem; }
  .services .services-info {
    position: relative;
    top: -7rem; }
    .services .services-info ul {
      margin-left: 0; }
      .services .services-info ul h2 {
        font-size: 59px;
        line-height: 53px;
        width: 239px; }
    .services .services-info hr {
      display: none; }
  .contact h1 {
    height: auto;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 6rem;
    width: fit-content; }
    .contact h1.right {
      margin-top: 1.5rem;
      margin-right: 2rem;
      width: auto; }
  .info {
    position: absolute;
    left: 0;
    top: 86rem;
    margin-top: 5.6rem; }
    .info .services-info {
      background-color: #26190c;
      padding-left: 4rem;
      width: 23rem; }
      .info .services-info span {
        color: #fbfbf0;
        display: none; }
      .info .services-info .title h2 {
        font-size: 50px;
        line-height: 53px;
        width: 239px;
        color: #fbfbf0;
        margin-left: 1.2rem;
        padding-top: 1rem; }
      .info .services-info h3 {
        color: #fbfbf0;
        left: -3rem;
        position: relative; }
      .info .services-info .deliverable {
        position: relative;
        left: -3rem; }
        .info .services-info .deliverable li {
          color: #fbfbf0;
          width: 16rem; }
      .info .services-info p {
        color: #fbfbf0;
        width: 8rem; }
        .info .services-info p.desc {
          left: -3rem;
          position: relative;
          width: 22rem; }
        .info .services-info p.margin {
          width: 12rem;
          margin-top: 0; } }

@media only screen and (min-width: 375px) and (max-width: 375px) {
  nav ul {
    width: 21.8rem; }
  .menu {
    position: absolute;
    bottom: 0;
    margin-bottom: 4rem; }
    .menu ul li span {
      font-size: 22px;
      line-height: 3rem; }
    .menu ul li h2 {
      font-size: 4.4rem;
      width: auto; }
  .home .logo-elipse {
    left: 30%;
    bottom: 56%;
    z-index: 1; }
  .home .contact h1 {
    height: auto;
    margin-left: 5rem;
    line-height: 6rem;
    font-size: 6rem;
    width: fit-content; }
    .home .contact h1.right {
      margin-right: 3rem; }
  .home .ft-images .ft-img-1 {
    margin-left: 2rem; }
  .home .ft-images .ft-img-2 {
    margin-left: -19.6rem;
    margin-top: 36rem; }
    .home .ft-images .ft-img-2 img {
      width: 20rem; }
  .services .section-1 {
    width: 96%;
    height: 150vh; }
    .services .section-1 h2#service-title {
      font-size: 59px;
      line-height: 53px;
      width: 348px;
      margin-top: -4rem; }
      .services .section-1 h2#service-title span {
        left: -23rem;
        position: relative; }
    .services .section-1 hr {
      bottom: -6rem; }
    .services .section-1 p#service-p {
      top: 28.3125rem;
      position: absolute; }
      .services .section-1 p#service-p div:nth-child(6) {
        margin-top: 1rem; }
  .services .services-info {
    position: relative;
    top: -22rem; }
    .services .services-info ul {
      margin-left: 0; }
      .services .services-info ul h2 {
        font-size: 59px;
        line-height: 53px;
        width: 239px; }
    .services .services-info hr {
      display: none; }
  .contact h1 {
    height: auto;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 6rem;
    width: fit-content; }
    .contact h1.right {
      margin-top: 1.5rem;
      margin-right: 3rem;
      width: auto; }
  .info {
    position: absolute;
    left: 0;
    top: 90rem;
    margin-top: 5.6rem; }
    .info .services-info {
      background-color: #26190c;
      padding-left: 4rem;
      width: 23.5rem; }
      .info .services-info span {
        color: #fbfbf0;
        display: none; }
      .info .services-info .title h2 {
        font-size: 50px;
        line-height: 53px;
        width: 239px;
        color: #fbfbf0;
        margin-left: 1.2rem;
        padding-top: 1rem; }
      .info .services-info h3 {
        color: #fbfbf0;
        left: -3rem;
        position: relative; }
      .info .services-info .deliverable {
        position: relative;
        left: -3rem; }
        .info .services-info .deliverable li {
          color: #fbfbf0;
          width: 16rem; }
      .info .services-info p {
        color: #fbfbf0;
        width: 8rem; }
        .info .services-info p.desc {
          left: -3rem;
          position: relative;
          width: 22rem; }
        .info .services-info p.margin {
          width: 12rem;
          margin-top: 0; } }

@media only screen and (min-width: 411px) and (max-width: 411px) {
  nav ul {
    width: 23.8rem; }
  .contact h1 {
    height: auto;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 7rem;
    width: fit-content; }
    .contact h1.right {
      margin-top: 1.5rem;
      margin-right: 2rem;
      width: auto; }
  .home #section-1 {
    position: relative;
    top: 7rem; }
    .home #section-1 h2 {
      font-size: 59px;
      line-height: 53px;
      width: fit-content; }
    .home #section-1 p {
      width: 273px; }
      .home #section-1 p#right {
        width: 273px;
        margin-bottom: 4rem; }
  .home .ft-images .ft-img-1 {
    margin-left: 0.8rem; }
    .home .ft-images .ft-img-1 img {
      width: 385px; }
  .home .ft-images .ft-img-2 {
    margin-left: -24.1rem;
    margin-top: 38rem; }
    .home .ft-images .ft-img-2 img {
      width: 385px; }
  .home .contact h1 {
    height: auto;
    margin-left: 4rem;
    line-height: 6rem;
    font-size: 7rem;
    width: fit-content; }
    .home .contact h1.right {
      margin-top: 1.5rem;
      margin-right: 2rem; }
  .home footer ul:nth-child(n + 1) {
    position: relative;
    left: 33rem; }
    .home footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .home footer ul:nth-child(n + 2) {
    position: relative;
    left: 11rem; }
    .home footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .home footer .copyright {
    position: relative; }
  .home footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  .home footer .logo-elipse {
    height: 27px;
    right: -8rem;
    position: relative;
    top: 9rem; }
  .works .project .title {
    margin-left: 2rem; }
  .works .project .section-2 .showcase img {
    width: 394.55px; }
  .services .section-1 {
    width: 96%;
    height: 150vh; }
    .services .section-1 h2#service-title {
      font-size: 59px;
      line-height: 53px;
      width: 348px;
      margin-top: -4rem; }
      .services .section-1 h2#service-title span {
        left: -23rem;
        position: relative; }
    .services .section-1 hr {
      bottom: -8rem; }
    .services .section-1 p#service-p {
      top: 28.3125rem;
      position: absolute; }
      .services .section-1 p#service-p div:nth-child(6) {
        margin-top: 1rem; }
  .services .services-info {
    position: relative;
    top: -17rem; }
    .services .services-info ul {
      margin-left: 0; }
      .services .services-info ul h2 {
        font-size: 59px;
        line-height: 53px;
        width: 239px; }
    .services .services-info hr {
      display: none; }
  .info {
    position: absolute;
    left: 0;
    top: 90rem;
    margin-top: 5.6rem; }
    .info .services-info {
      background-color: #26190c;
      padding-left: 4rem;
      width: 25.87rem; }
      .info .services-info span {
        color: #fbfbf0;
        display: none; }
      .info .services-info .title h2 {
        font-size: 50px;
        line-height: 53px;
        width: 239px;
        color: #fbfbf0;
        margin-left: 1.2rem;
        padding-top: 1rem; }
      .info .services-info h3 {
        color: #fbfbf0;
        left: -3rem;
        position: relative; }
      .info .services-info .deliverable {
        position: relative;
        left: -3rem; }
        .info .services-info .deliverable li {
          color: #fbfbf0;
          width: 16rem; }
      .info .services-info p {
        color: #fbfbf0;
        width: 8rem; }
        .info .services-info p.desc {
          left: -3rem;
          position: relative;
          width: 22rem; }
        .info .services-info p.margin {
          width: 12rem;
          margin-top: 0; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav {
    z-index: 1;
    position: relative; }
    nav ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      width: auto; }
      nav ul img {
        width: 130px;
        display: block; }
  .home {
    height: 716vh; }
    .home .hero {
      margin-top: 5rem;
      height: 100vh; }
      .home .hero h2 {
        margin-left: 1rem; }
      .home .hero .lineParent {
        overflow: hidden; }
        .home .hero .lineParent .lineChildren {
          transform: translate(0, 500px); }
      .home .hero .contact-menu {
        margin-left: 1rem;
        position: relative;
        top: 12%; }
        .home .hero .contact-menu ul {
          list-style: none;
          margin-bottom: 3rem; }
      .home .hero hr {
        width: 100%;
        border: 2px solid;
        position: relative;
        bottom: -7rem; }
      .home .hero .logo-elipse {
        position: relative;
        left: 81%;
        bottom: 17%; }
        .home .hero .logo-elipse .letters {
          position: absolute;
          left: 0.23rem;
          margin-top: 0.3rem; }
    .home #section-1 {
      position: relative;
      top: -28rem; }
      .home #section-1 h2 {
        margin-left: 1rem; }
      .home #section-1 .lineParent {
        overflow: hidden; }
        .home #section-1 .lineParent .lineChildren {
          transform: translate(0, 500px); }
      .home #section-1 p {
        margin-left: 1rem;
        margin-top: 24rem;
        width: auto;
        opacity: 0; }
        .home #section-1 p > div {
          opacity: 0;
          transform: translateY(0px); }
        .home #section-1 p.is-reveal {
          opacity: 1; }
        .home #section-1 p#right {
          margin-top: 9rem;
          width: 998px;
          text-align: right;
          margin-right: 1rem;
          float: right; }
    .home .section-2 {
      position: relative;
      top: -8rem; }
      .home .section-2 .pin-spacer {
        place-self: auto;
        grid-area: auto / auto / auto / auto;
        z-index: auto;
        float: none;
        flex-shrink: 1;
        display: flex;
        margin: 0px;
        inset: auto;
        position: relative;
        overflow: hidden !important;
        box-sizing: border-box;
        width: 2238px;
        height: 50rem !important;
        padding: 0px 0px 10rem !important; }
      .home .section-2 .header {
        width: 200%;
        display: flex;
        flex-wrap: nowrap; }
        .home .section-2 .header h1 {
          padding-right: 6rem; }
      .home .section-2 .services-menu {
        margin-top: 10rem; }
        .home .section-2 .services-menu span {
          font-style: normal;
          top: 2.5rem;
          position: relative;
          margin-left: 1rem;
          font-size: 24px;
          font-family: "Helvetica Neue";
          font-weight: 200;
          line-height: 24px;
          letter-spacing: -0.5%;
          text-transform: uppercase;
          color: #26190c;
          line-height: 2.5rem; }
        .home .section-2 .services-menu h2 {
          list-style: none;
          margin-left: 4rem;
          transition: color 0.2s ease; }
          .home .section-2 .services-menu h2:hover {
            color: #7d7fab; }
        .home .section-2 .services-menu img {
          bottom: 10.32rem;
          position: relative;
          left: 52rem; }
          .home .section-2 .services-menu img.hover {
            position: relative;
            left: 40rem;
            object-fit: contain;
            opacity: 0;
            transition: opacity 0.2s; }
            .home .section-2 .services-menu img.hover:hover {
              opacity: 1; }
    .home .ft-images {
      display: flex;
      position: relative;
      top: 30rem;
      cursor: pointer; }
      .home .ft-images img {
        clip-path: inset(100% 0% 0% 0%);
        transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1); }
        .home .ft-images img.is-reveal {
          clip-path: inset(0% 0% 0% 0%); }
      .home .ft-images .ft-img-1 {
        margin-left: 2rem; }
        .home .ft-images .ft-img-1:hover h4 {
          visibility: visible;
          cursor: pointer; }
      .home .ft-images .ft-img-2 {
        margin-left: -4rem;
        margin-top: 44rem; }
        .home .ft-images .ft-img-2:hover h4 {
          visibility: visible;
          cursor: pointer; }
      .home .ft-images h4 {
        text-align: right;
        visibility: hidden;
        transition: visibility 0.2s; }
    .home .contact {
      height: 70vh; }
      .home .contact h1 {
        height: auto;
        margin-left: 1rem;
        line-height: 10rem;
        font-size: 11rem;
        width: fit-content; }
        .home .contact h1.right {
          margin-top: 1.5rem;
          margin-right: 1rem; }
    .home footer .logo-elipse {
      top: 0; }
  .works .section-1 {
    width: 91%; }
    .works .section-1 ul {
      width: 50%; }
      .works .section-1 ul li h2 {
        width: min-content; }
    .works .section-1 .scroll {
      left: 21%; }
  .works .project h2 {
    width: min-content; }
  .works .project .title {
    margin-left: 1rem; }
  .works .project .container {
    width: min-content;
    position: relative;
    padding-top: 17.5rem;
    top: 1rem;
    left: 25rem; }
  .works .project .section-2 {
    margin-bottom: 30rem; }
    .works .project .section-2 .showcase {
      position: relative;
      top: 20rem;
      width: 96%;
      margin: auto; }
      .works .project .section-2 .showcase .video-react video {
        width: auto;
        left: 0; }
      .works .project .section-2 .showcase img {
        width: 707.77px; }
  .works footer ul:nth-child(n + 1) {
    position: relative;
    left: 34rem; }
    .works footer ul:nth-child(n + 1) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .works footer ul:nth-child(n + 2) {
    position: relative;
    left: 11rem; }
    .works footer ul:nth-child(n + 2) .header {
      position: relative;
      right: 0;
      margin-bottom: 1rem; }
  .works footer .copyright {
    position: relative; }
  .works footer .footer-container {
    position: relative;
    right: 23.5rem;
    top: 2rem; }
  .works footer .logo-elipse {
    height: 27px;
    left: 36rem;
    position: relative;
    top: 6rem; }
  .services .section-1 {
    height: 100vh;
    width: 73%;
    margin: auto; }
    .services .section-1 h2 {
      position: absolute;
      top: 9.125rem;
      width: fit-content; }
      .services .section-1 h2 .lineParent {
        overflow: hidden; }
        .services .section-1 h2 .lineParent .lineChildren {
          transform: translate(0, 500px); }
      .services .section-1 h2 span {
        margin-left: 30rem;
        font-style: normal; }
    .services .section-1 p {
      top: 39.3125rem;
      position: absolute; }
    .services .section-1 hr {
      width: 100%;
      border: 2px solid;
      position: absolute;
      bottom: -6rem;
      left: 0; }
  .services hr {
    width: 100%;
    border: 2px solid;
    position: absolute;
    bottom: -66rem;
    left: 0; }
  .services-info {
    position: relative;
    margin-bottom: -32rem; }
    .services-info span {
      font-style: normal;
      top: 2.5rem;
      position: relative;
      margin-left: 1rem;
      font-size: 24px;
      font-family: "Helvetica Neue";
      font-weight: 200;
      line-height: 24px;
      letter-spacing: -0.5%;
      text-transform: uppercase;
      color: #26190c;
      line-height: 2.5rem; }
    .services-info a:active {
      color: #7d7fab; }
    .services-info a:visited {
      color: #7d7fab; }
    .services-info h2 {
      line-height: 101.4px;
      top: auto;
      margin-left: 4rem;
      transition: color 0.2s ease;
      width: 355px; }
      .services-info h2:hover {
        color: #7d7fab; }
      .services-info h2 a:active {
        color: #7d7fab; }
    .services-info ul {
      margin-left: 1rem;
      list-style: none;
      margin-top: 2rem; }
      .services-info ul li span {
        line-height: 2.5rem;
        font-style: normal;
        top: 2.5rem;
        position: relative; }
    .services-info hr {
      width: 957px;
      border: 2px solid;
      position: absolute;
      bottom: 27.6rem;
      right: 34.5rem;
      transform: rotate(90deg);
      margin-left: -5rem; }
  .info {
    position: absolute;
    left: 32rem;
    top: 100%;
    margin-top: 5.6rem; }
    .info .title {
      margin-left: -4.4rem;
      margin-bottom: 2rem; }
      .info .title:active {
        color: #7d7fab; }
    .info h3 {
      display: flex; }
      .info h3.incl {
        text-decoration: underline; }
    .info p {
      width: 580px;
      margin-left: 0.2rem; }
      .info p.margin {
        margin-top: -0.5rem; }
      .info p.desc {
        margin-top: 1rem;
        margin-bottom: 4rem;
        margin-left: 0; }
      .info p span {
        top: auto;
        margin-left: 0;
        font-style: oblique; }
    .info .deliverable {
      display: flex; }
    .info ul {
      margin-left: 0; }
      .info ul img {
        height: fit-content;
        margin-top: 0.18rem; }
      .info ul li {
        width: 330px;
        margin-bottom: 1.2rem;
        margin-left: 0.8rem;
        font-weight: 100; } }

/* Desktops and laptops ----------- */
